<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<div class="container-fluid mb-3">
    <h4 class="pt-4 pb-3">Trazado Histórico de Ruta</h4>
    <form autocomplete="off" action="javascript:void(0);">
        <div class="row d-xl-flex justify-content-start form-group">
            <label for="date" class="col-sm-auto form-label pt-1"><span class="fs-5 fw-bold">Rango de fecha y hora:</span></label>
            <div class="col-sm-4">
                <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" name="datetimes" id="datetime"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
  <div id="routemap">
  </div>
</div>

<script>
    
</script>

{% load static %}
<script src="{% static 'locations/route.js' %}"></script>
    
    
    