<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<div class="container-fluid mb-3">
    <h4 class="pt-4 pb-3">Trazado Histórico de Ruta</h4>
    <form autocomplete="off" action="javascript:void(0);">
        <div class="row d-xl-flex justify-content-evenly form-group">
        <label for="date" class="col-sm-auto form-label pt-1"><span class="fs-5 fw-bold">Fecha:</span></label>
        <div class="col-sm-auto">
            <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" id="inDate">  
                <span class="input-group-append"></span>
            </div>
        </div>
        <label for="start" class="col-sm-auto form-label pt-1"><span class="fs-5 fw-bold">Hora inicial:</span></label>
        <div class="col-sm-auto pt-1">
            <input type="time" id="start" name="start">
        </div>
        <label for="end" class="col-sm-auto form-label pt-1"><span class="fs-5 fw-bold">Hora final:</span></label>
        <div class="col-sm-auto pt-1">
            <input type="time" id="end" name="end">
        </div>
        <div class="col-sm-auto">
            <button id="accept" type="submit" class="btn btn-primary">Aceptar</button>
        </div>
    </div>
    </form>
</div>
<div class="container">
    <div id="routemap">
    </div> 
</div>

{% load static %}
<script src="{% static 'locations/route.js' %}"></script>
    
    
    