<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
    crossorigin="anonymous">

    <div class="container">
        <div class="row">
            <div class="col-auto">
                <h4>Latitud</h4>
                <h4>Longitud</h4>
                <h4>Fecha</h4>
                <h4>Hora</h4>
            </div>
            <div class="col-auto">
                <h4><span class="ms-2 align-middle badge bg-light text-dark rounded-pill border border-dark">${response.latitude}</span></h4>
                <h4><span class="ms-2 align-middle badge bg-light text-dark rounded-pill border border-dark">${response.longitude}</span></h4>
                <h4><span class="ms-2 align-middle badge bg-light text-dark rounded-pill border border-dark">${response.date}</span></h4>
                <h4><span class="ms-2 align-middle badge bg-light text-dark rounded-pill border border-dark">${response.time}</span></h4>
            </div>
        </div>
    </div>